/* tag selectors */
body{
  background-color: #eae7d9;
  color: #4d3e3e;
  font-family: 'Merriweather', serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #888888;
  border-width: 4px;
  width:10%;
}
h1{
  color: #4d3e3e;
  font-family: 'Monoton', cursive;
}
h2{
  color: #4d3e3e;
  font-family: 'Roboto', sans-serif;
}
h3{
  color: #4d3e3e;
  font-family: 'Roboto', sans-serif;
}
a{
  color: #7d5a5a;
}
p{
  color: black;
}

/*
table:hover{
  background-color: red;
} */

img:hover{
  background-color: gold;
}
/* class selectors, can have multiple repeated class on same page,
  can be stacked on top of each other by specifying multiple at the
  same time  */
.ramen{
  background-color: white;
}

.circular{
  border-radius: 100%;
}

.subtitle:hover{
  background-color: gold;
}

/* ID selectors, note id is unique on each page */
#heading{
  color: #be79df;
  font-size: 80px;
}
