/* tag selectors */
body {
  background-color: #eae7d9;
  color: #4d3e3e;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #888888;
  border-width: 4px;
  width: 15%;
}

h1 {
  color: #be79df;
  font-size: 4rem;
  font-family: 'Monoton', cursive;
}

h2 {
  color: #4d3e3e;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #4d3e3e;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #7d5a5a;
}


table {
  width: 100%;
  margin: auto;
}




/*
table:hover{
  background-color: red;
} */

img:hover {
  background-color: gold;
}

/* class selectors, can have multiple repeated class on same page,
  can be stacked on top of each other by specifying multiple at the
  same time  */
.ramen {
  background-color: white;
  float: left;
  margin-right: 2em;
}

.intro {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.list {
  position: relative;
  /* margin: 0 30%; */
  padding-left: 40%;
  text-align: left;
}

.circular {
  border-radius: 100%;
}

.subtitle:hover {
  background-color: gold;
}

.skills {
  margin: 4em auto;
  width: 50%;
}

.secret {
  width: 50%;
  margin: auto;
  text-align: center;
}

.review {
  width: 70%;
  margin: auto;
  text-align: left
}

.skill-row {
  text-align: justify;
  line-height: 2;
}

.bottom-container {
  background-color: rgba(255, 174, 0, 0.856);
  color: #ffffff;
  margin: 5em auto 0;
  padding-top: 3em;
}

.btn {
  background: #de9e1f;
  background-image: -webkit-linear-gradient(top, #de9e1f, #b8742b);
  background-image: -moz-linear-gradient(top, #de9e1f, #b8742b);
  background-image: -ms-linear-gradient(top, #de9e1f, #b8742b);
  background-image: -o-linear-gradient(top, #de9e1f, #b8742b);
  background-image: linear-gradient(to bottom, #de9e1f, #b8742b);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  padding: .5em 1em;
  text-decoration: none;
  position: relative;
  top: 2em;
}

.btn:hover {
  background: gold;
}

/* ID selectors, note id is unique on each page */
/* #heading {
  color: #be79df;
  font-size: 80px;
} */